{% extends 'admin/master.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="dashboard">
    <h1>Thống kê</h1>
    <!-- Hàng ngang chứa dropdown và biểu đồ -->
    <div class="row">
        <!-- Dropdowns bên trái -->
        <div class="dropdown-column">
            <div class="dropdown-container">
                <label for="chartSelector">Chọn biểu đồ:</label>
                <select id="chartSelector">
                    <option value="tanSuatChart">Tần suất khám</option>
                    <option value="doanhThuChart">Doanh thu</option>
                </select>
            </div>

            <div class="dropdown-container">
                <label for="chartTypeSelector">Chọn kiểu biểu đồ:</label>
                <select id="chartTypeSelector">
                    <option value="bar">Cột</option>
                    <option value="line">Đường</option>
                    <option value="pie">Tròn</option>
                </select>
            </div>
        </div>

        <!-- Biểu đồ bên phải -->
        <div class="chart-column">
            <div id="tanSuatChartContainer" class="chart-container">
                <canvas id="tanSuatChart"></canvas>
                <h2>Thống kê tần suất khám theo tháng</h2>
            </div>

            <div id="doanhThuChartContainer" class="chart-container" style="display: none;">
                <canvas id="doanhThuChart"></canvas>
                <h2>Thống kê doanh thu theo tháng</h2>
            </div>
        </div>
    </div>
</div>


<!-- Truyền dữ liệu từ server -->
<script id="chartDataScript" type="application/json">
    {
        "labels": {{ doanh_thu_labels|tojson }},
        "tanSuat": {{ doanh_thu_data.tan_suat|tojson }},
        "doanhThu": {{ doanh_thu_data.doanh_thu|tojson }}
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/admin/thongke.js') }}"></script>
{% endblock %}
